.container{
    height: 40px;
    width: 100%;
    background-color: #ffcccc;
    position: fixed;
    z-index: 1;
}

.stuff {
    display: inline-block;
    margin-top: 6px;
    margin-left: 55px;
    width: 75%;
    height: 800px;
  }

.name {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: right;
    margin-top: 10px;
    margin-right: 4%;
  }
